body {
  margin: 0;

  background-color: black;
}

code {
  font-family: Arial, Helvetica, sans-serif "Courier New", monospace;
}

nav img {
  margin-right: 150px;
}

#root {
  background-color: #212529;
}
